/* Let's get this party started */
::-webkit-scrollbar {
     width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.062);
     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.062);
     /* -webkit-border-radius: 10px; */
     /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
     -webkit-border-radius: 4px;
     border-radius: 4px;
     background: rgba(136, 136, 136, 0.8);
     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.24);
     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.24);
}

::-webkit-scrollbar-thumb:window-inactive {
     background: rgba(136, 136, 136, 0.8);
}

.modal-body {
     text-align: center;
     margin-bottom: 0%
}

.dropdown-toggle {
     width: 100%;
}

/* The switch - the box around the slider */
.switch {
     position: relative;
     display: inline-block;
     width: 60px;
     height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
     opacity: 0;
     width: 0;
     height: 0;
}

/* The slider */
.slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ccc;
     -webkit-transition: .4s;
     transition: .4s;
}

.slider:before {
     position: absolute;
     content: "";
     height: 26px;
     width: 26px;
     left: 4px;
     bottom: 4px;
     background-color: white;
     -webkit-transition: .4s;
     transition: .4s;
}

input:checked+.slider {
     background-color: #2196F3;
}

input:focus+.slider {
     box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
     -webkit-transform: translateX(26px);
     -ms-transform: translateX(26px);
     transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
     border-radius: 34px;
}

.slider.round:before {
     border-radius: 50%;
}

.btn-edit {
     color: #ffffff;
     background-color: #de6133;
     border-color: #bd770f;
}

.btn-edit:hover,
.btn-edit:focus,
.btn-edit:active,
.btn-edit.active,
.open .dropdown-toggle.btn-edit {
     color: #ffffff;
     background-color: #d68353;
     border-color: #bd770f;
}

.btn-edit:active,
.btn-edit.active,
.open .dropdown-toggle.btn-edit {
     background-image: none;
}

.btn-edit.disabled,
.btn-edit[disabled],
fieldset[disabled] .btn-edit,
.btn-edit.disabled:hover,
.btn-edit[disabled]:hover,
fieldset[disabled] .btn-edit:hover,
.btn-edit.disabled:focus,
.btn-edit[disabled]:focus,
fieldset[disabled] .btn-edit:focus,
.btn-edit.disabled:active,
.btn-edit[disabled]:active,
fieldset[disabled] .btn-edit:active,
.btn-edit.disabled.active,
.btn-edit[disabled].active,
fieldset[disabled] .btn-edit.active {
     background-color: #de6133;
     border-color: #bd770f;
}


.btn-edit .badge {
     color: #de6133;
     background-color: #ffffff;
}