@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

#successAlert {
     position: absolute;
     width: 50%;
     z-index: 15;
     left: 25%;
}

#dangerAlert {
     margin: 15px;
     position: absolute;
     width: 50%;
     z-index: 15;
     left: 25%;
}

input {
     margin-top: 15px;
     margin-bottom: 15px;
}

body {
     padding-top: 50px;
     padding-left: 50px;
     padding-right: 50px;
}

label {
     position: relative;
     cursor: pointer;
     color: #666;
     font-size: 30px;
}

input[type="checkbox"],
input[type="radio"] {
     position: absolute;
     right: 9000px;
}

/*Check box*/

input[type="checkbox"]+.label-text:before {
     content: "\f096";
     font-family: "FontAwesome";
     /* speak: none; */
     font-style: normal;
     font-weight: normal;
     font-variant: normal;
     text-transform: none;
     line-height: 1;
     -webkit-font-smoothing: antialiased;
     width: 1em;
     display: inline-block;
     margin-right: 5px;
}

input[type="checkbox"]:checked+.label-text:before {
     content: "\f14a";
     color: #2980b9;
     animation: effect 250ms ease-in;
}

input[type="checkbox"]:disabled+.label-text {
     color: #aaa;
}

input[type="checkbox"]:disabled+.label-text:before {
     content: "\f0c8";
     color: #ccc;
}

/*Radio box*/

input[type="radio"]+.label-text:before {
     content: "\f10c";
     font-family: "FontAwesome";
     /* speak: none; */
     font-style: normal;
     font-weight: normal;
     font-variant: normal;
     text-transform: none;
     line-height: 1;
     -webkit-font-smoothing: antialiased;
     width: 1em;
     display: inline-block;
     margin-right: 5px;
}

input[type="radio"]:checked+.label-text:before {
     content: "\f192";
     color: #8e44ad;
     animation: effect 250ms ease-in;
}

input[type="radio"]:disabled+.label-text {
     color: #aaa;
}

input[type="radio"]:disabled+.label-text:before {
     content: "\f111";
     color: #ccc;
}

/*Radio Toggle*/

.toggle input[type="radio"]+.label-text:before {
     content: "\f204";
     font-family: "FontAwesome";
     /* speak: none; */
     font-style: normal;
     font-weight: normal;
     font-variant: normal;
     text-transform: none;
     line-height: 1;
     -webkit-font-smoothing: antialiased;
     width: 1em;
     display: inline-block;
     margin-right: 10px;
}

.toggle input[type="radio"]:checked+.label-text:before {
     content: "\f205";
     color: #16a085;
     animation: effect 250ms ease-in;
}

.toggle input[type="radio"]:disabled+.label-text {
     color: #aaa;
}

.toggle input[type="radio"]:disabled+.label-text:before {
     content: "\f204";
     color: #ccc;
}

@keyframes effect {
     0% {
          transform: scale(0);
     }

     25% {
          transform: scale(1.3);
     }

     75% {
          transform: scale(1.4);
     }

     100% {
          transform: scale(1);
     }
}

.btn-edit {
     color: #ffffff;
     background-color: #de6133;
     border-color: #bd770f;
}

.btn-edit:hover,
.btn-edit:focus,
.btn-edit:active,
.btn-edit.active,
.open .dropdown-toggle.btn-edit {
     color: #ffffff;
     background-color: #d68353;
     border-color: #bd770f;
}

.btn-edit:active,
.btn-edit.active,
.open .dropdown-toggle.btn-edit {
     background-image: none;
}

.btn-edit.disabled,
.btn-edit[disabled],
fieldset[disabled] .btn-edit,
.btn-edit.disabled:hover,
.btn-edit[disabled]:hover,
fieldset[disabled] .btn-edit:hover,
.btn-edit.disabled:focus,
.btn-edit[disabled]:focus,
fieldset[disabled] .btn-edit:focus,
.btn-edit.disabled:active,
.btn-edit[disabled]:active,
fieldset[disabled] .btn-edit:active,
.btn-edit.disabled.active,
.btn-edit[disabled].active,
fieldset[disabled] .btn-edit.active {
     background-color: #de6133;
     border-color: #bd770f;
}

.btn-edit .badge {
     color: #de6133;
     background-color: #ffffff;
}

#footer {
     position: fixed;
     bottom: 0;
     width: 100%;
     height: 60px;
     /* Set the fixed height of the footer here */
     line-height: 60px;
     /* Vertically center the text there */
     background-color: #ffffff;
}